
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: Arial, sans-serif;
        }
        body {
            background: linear-gradient(135deg, #1B1F3B, #4CAF50);
            padding: 20px;
        }
        .dashboard {
            display: flex;
            gap: 20px;
        }
        .sidebar {
            width: 250px;
            background-color: #00a677b0;
            color: antiquewhite;
            padding: 20px;
            height: 100vh;
            border-radius: 10px;
        }
        /* .sidebar h2 {
            margin-bottom: 20px;
            font-weight: 900px;

        } */
        .sidebar a {
            display: block;
            color: white;
            text-decoration: none;
            padding: 10px ;
        }
        .sidebar a:hover {
            background-color: #575757;
            border-radius: 10px;
        }
        .main-content {
            flex: 1;
            padding: 20px;
        }

        .main-content #collector h2{
            padding-bottom: 30px;
            font-size: 50px;
            text-align: right;
            color: aliceblue;
            font-weight: 900px;
        }
        .card {
            background-color: rgba(255, 228, 196, 0.789); 
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
            margin-bottom: 20px;
        }
        .status {
            display: flex;
            gap: 10px;
        }
        .status button {
            padding: 10px;
            border: none;
            cursor: pointer;
            border-radius: 5px;
        }
        .collected { background-color: orange; }
        .transit { background-color: blue; color: white; }
        .disposed { background-color: green; color: white; }
